type mtk_hal_isphal_service, protected_service, service_manager_type, hal_service_type;

type mtk_hal_mali_platform_default_service, service_manager_type, hal_service_type;
