type motcamera_app_data_file, file_type, data_file_type, core_data_file_type, app_data_file_type;
type mnt_vendor_trustlet_file, file_type, data_file_type;

